/* styling to  cards to adjust size*/
.assign-content{
    
    width: 600px;
    margin: 3% auto 0;

}

/*added to button to make purple  */
.btn{
    background-color:var(--h1-background-color);
}


.card-content{
    font-size: 16px;
    
}

/* added to fix the size of cards */
.card{
    width: 280px;
    margin: 3% auto 0; 
    
}

